.formsteps {
  height: 14rem;
  padding-top: 4rem;
  background-image: url("../../../public/assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.formsteps__container {
  display: flex;
  gap: 2rem;
}

.formsteps__step span {
  width: 3rem;
  height: 3rem;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 1.2rem;
  color: var(--White);

  display: flex;
  justify-content: center;
  align-items: center;
}

.formsteps__step span.active {
  background-color: var(--Pastel-blue);
  border-color: var(--Pastel-blue);
}

.formsteps__text {
  display: none;
}

@media screen and (min-width: 60rem) {
  .formsteps {
    padding: 1.5rem;
    height: 100%;
    background-image: url(../../../public/assets/images/bg-sidebar-desktop.svg);
    background-position: bottom left;
    border-radius: 0.5rem 0.5rem 0 0;

    justify-content: start;
  }

  .formsteps__container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
  }

  .formsteps__text {
    display: block;
  }

  .formsteps__step {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .formsteps__step span {
    width: 2.3rem;
    height: 2.3rem;
  }

  .formsteps__text h3 {
    margin: 0;
  }

  .formsteps__text p {
    margin-bottom: 0.4rem;
    font-size: 0.8rem;
  }

  .formsteps__text h3 {
    color: var(--White);
    font-size: 1rem;
  }

  .formsteps__text h3,
  .formsteps__text p {
    text-transform: uppercase;
  }
}
