/* steps component */

.steps__container {
  position: relative;
  min-height: calc(100vh - 16rem);
  border: 1px solid transparent;
}

.steps {
  padding: 2rem 1.5rem;
  width: 90%;
  margin: -5rem auto 0;
  border-radius: 0.5rem;
  background-color: var(--White);
}

/* step one component styles */

.step__one__input-wrapper label {
  color: var(--Marine-blue);
  font-weight: 500;
  font-size: 0.9rem;
}

label::first-letter {
  text-transform: capitalize;
}

.error {
  margin-bottom: 0;
  font-size: 0.8rem;
  color: var(--Strawberry-red);
  display: block;
  text-align: right;
  font-weight: 500;

  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

.step__one__input-wrapper input {
  display: block;
  width: 100%;
  padding: 0.9rem 0.7rem;
  border-radius: 0.3rem;
  margin: 0.3rem 0 1rem;
  font-weight: 700;
  color: var(--Marine-blue);
  border: 1px solid var(--Light-gray);
  outline: none;
  transition: 0.3s;
}

.input__error {
  border-color: var(--Strawberry-red);
}

input:focus {
  border-color: var(--Purplish-blue);
}

/* button component */

.button__container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 1.5rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--White);
}

.button__container.separate {
  justify-content: space-between;
}

.btn {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
}

.prev-btn {
  background-color: transparent;
  color: var(--Cool-gray);
}

.prev-btn:hover {
  color: var(--Marine-blue);
}

.next-btn {
  background-color: var(--Marine-blue);
  color: var(--White);
  justify-self: flex-end !important;
}

.next-btn:hover {
  background-color: var(--Purplish-blue);
}

/* step 2 */
.plan {
  position: relative;
  height: 4.8rem;
  margin-bottom: 0.5rem;
}

.plan input {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

input:checked ~ .plan__tile {
  border-color: var(--Cool-gray);
  transform: border 0.5s;
  background-color: var(--Alabaster);
}

.plan__tile {
  height: 100%;
  width: 100%;

  display: flex;
  gap: 1rem;
  align-items: center;
  border: 1px solid var(--Light-gray);
  border-radius: 0.5rem;
  padding: 0 1rem;
}

.plan__tile:hover {
  border-color: var(--Cool-gray);
}

.plan__tile h4 {
  margin: 0;
}

.plan__tile p {
  margin-block: 0.15rem;
}

.gift__text {
  color: var(--Marine-blue);
  font-weight: 500;
}

.period__toggle__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Magnolia);
  padding: 0.8rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.period__toggle__container h4 {
  margin-bottom: 0;
}

.switch__wrapper {
  width: 3rem;
  height: 1.5rem;
  background-color: var(--Marine-blue);
  margin-inline: 2rem;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}

.period__switch {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  line-height: 1.5rem;
  background-color: var(--White);

  position: absolute;
  top: 50%;
  left: 0.3rem;
  transform: translateY(-50%);
  transition: 0.3s;
}

.period__switch.move {
  margin-left: 1.4rem;
}

/* step 3 */

.add__ons__option label {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-bottom: 1rem;
  border: 1px solid var(--Light-gray);
  border-radius: 0.3rem;
  padding: 1rem;
  cursor: pointer;
}

.add__ons__option label:has(input:checked) {
  border-color: var(--Purplish-blue);
  background-color: var(--Alabaster);
}

.add__ons__info {
  flex: 1;
}

.add__ons__option label input[type="checkbox"] {
  width: 1.3rem;
  height: 1.3rem;
  accent-color: var(--Purplish-blue);
}

.add__ons__option label p {
  margin: 0;
}

.add__ons__option label h4 {
  margin-bottom: 0.3rem;
}

.addOns__price {
  color: var(--Purplish-blue);
}

/* step 4 */
.plans__wrapper {
  background-color: var(--Magnolia);
  padding: 1.5rem 1rem;
  border-radius: 0.3rem;
}

.step__check_container h4,
.step__check_container p {
  margin: 0;
}

.step__check__plan {
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--Light-gray);
}

.step__check__plan strong {
  color: var(--Marine-blue);
}

.step__check__plan button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-weight: 500;
  color: var(--Cool-gray);
  padding-top: 0.3rem;
  transition: 0.3s;
}

.step__check__plan button:hover {
  color: var(--Purplish-blue);
}

.step__check__plan,
.step__check__addOns-plans,
.price__total__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step__check__addOns-plans {
  margin-top: 1rem;
}

.step__check__addOns-plans p:last-child {
  color: var(--Marine-blue);
  font-weight: 500;
  font-size: 0.9rem;
}

.price__total__container {
  display: flex;
  padding: 1.5rem 1rem 0;
}

.price__total__container strong {
  color: var(--Purplish-blue);
  font-size: 1.2rem;
}

/* summary */

.summary__container {
  padding-block: 2rem;
  text-align: center;
}

.summary__container h1 {
  font-weight: 700;
  margin-block: 1.5rem;
  font-size: 2rem;
}

.summary__container p {
  line-height: 1.6rem;
  max-width: 25rem;
  width: 90%;
  margin: 0 auto;
}

.summary__container a {
  color: var(--Cool-gray);
}

@media screen and (min-width: 60rem) {
  .container .steps__container {
    height: 100%;
    min-height: auto;
  }
  .steps {
    margin: 0;
    width: 100%;

    padding: 5rem 3rem;
  }

  /* button */
  .button__container {
    bottom: 0;
    width: 100%;
    padding-inline: 3rem;
  }
}
