/* steps component */

.steps__container {
  position: relative;
  height: calc(100vh - 14rem);
  border: 1px solid transparent;
}

.steps {
  padding: 2rem 1.5rem;
  width: 90%;
  margin: -4rem auto 0;
  border-radius: 0.5rem;
  background-color: var(--White);
}

/* step one component styles */

.step__one__input-wrapper label {
  color: var(--Marine-blue);
  font-weight: 500;
  font-size: 0.9rem;
}

label::first-letter {
  text-transform: capitalize;
}

.error {
  margin-bottom: 0;
  font-size: 0.8rem;
  color: var(--Strawberry-red);
  display: block;
  text-align: right;
  font-weight: 500;
}

.step__one__input-wrapper input {
  display: block;
  width: 100%;
  padding: 0.9rem 0.7rem;
  border-radius: 0.3rem;
  margin: 0.3rem 0 1rem;
  font-weight: 700;
  color: var(--Marine-blue);
  border: 1px solid var(--Light-gray);
  outline: none;
  transition: 0.3s;
}

.input__error {
  border-color: var(--Strawberry-red);
}

input:focus {
  border-color: var(--Purplish-blue);
}

/* button component */

.button__container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 1.5rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--White);
}

.button__container .separate {
  justify-content: space-between;
}

.btn {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
}

.prev-btn {
  background-color: transparent;
  color: var(--Cool-gray);
}

.prev-btn:hover {
  color: var(--Marine-blue);
}

.next-btn {
  background-color: var(--Marine-blue);
  color: var(--White);
  justify-self: flex-end !important;
}

.next-btn:hover {
  background-color: var(--Purplish-blue);
}
