@media screen and (min-width: 60rem) {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 50rem;
    height: 35rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    background-color: var(--White);
  }
}
